@font-face {
  font-family: Gilroy-regular;
  src: url(../fonts/Gilroy-Regular.woff);
}
@font-face {
  font-family: Gilroy-medium;
  src: url(../fonts/Gilroy-Medium.woff);
}
@font-face {
  font-family: Gilroy-bold;
  src: url(../fonts/Gilroy-Bold.woff);
}
@font-face {
  font-family: MinionPro;
  src: url(../fonts/MinionPro-Regular.woff);
}
@font-face {
  font-family: Gilroy-semibold;
  src: url(../fonts/Gilroy-SemiBold.woff);
}
.block-4-wrapper {
  background-image: url("../img/block-4/Frame\ 24.png");
  width: 100%;
}
.block-4 {
  height: 2060px;
}
.block-4-title {
  padding-top: 124px;
  margin-bottom: 80px;
}
.block-4-title-text h1 {
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 119.38%;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #000000;
}
.block-4-title-line {
  height: 1px;
  background-color: #000000;
}
.block-4-product {
  margin-bottom: 134px;
}
.block-4-product-img {
  width: 453px;
  height: 584px;
}
.block-4-product-img_src {
  width: 453px;
  height: 584px;
  background-color: white;
  border-radius: 25px;
}
.block-4-product-description {
  margin-left: 10px;
}
.block-4-product-description-title {
  margin-bottom: 69px;
  font-family: 'Gilroy-regular';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.08em;
  color: #000000;
  margin-bottom: 30px;
}
.block-4-product-description-main {
  margin-bottom: 70px;
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 109.88%;
  letter-spacing: 0.04em;
  color: #000000;
}
.block-4-product-description-main-text_color {
  color: #C4504C;
}
.block-4-product-description-price {
  margin-bottom: 53px;
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 109.88%;
  letter-spacing: 0.04em;
  color: #241E10;
}
.block-4-product-description-button_1 {
  height: 65px;
  width: 240px;
  border-radius: 90px;
  border: 0;
  background-color: #A44B4C;
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.8%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.block-4-product-description-button_1:hover {
  transition: 0.5s;
  background-color: #000000;
}
.block-4-product-description-button_1:active {
  transition: 0.2s;
  background-color: #363636;
}
.block-4-product-description-button_2 {
  height: 65px;
  width: 240px;
  border-radius: 90px;
  border: 1px solid;
  border-color: #000000;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 117.8%;
  /* identical to box height, or 31px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.block-4-product-description-button_2:hover {
  transition: 0.5s;
  background-color: #E2A8A6;
  border-color: #C4504C;
}
.block-4-product-description-button_2:active {
  transition: 0.2s;
  background-color: #C4504C;
  border-color: #C4504C;
}
.block-4-product_2-img {
  width: 453px;
  height: 584px;
}
.block-4-product_2-img_src {
  width: 453px;
  height: 584px;
  background-color: white;
  border-radius: 25px;
  margin-right: 12px;
}
.block-4-product_2-description-title {
  margin-bottom: 69px;
  font-family: 'Gilroy-regular';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.08em;
  color: #000000;
  margin-bottom: 30px;
}
.block-4-product_2-description-main {
  margin-bottom: 70px;
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 109.88%;
  letter-spacing: 0.04em;
  color: #000000;
}
.block-4-product_2-description-main-text_color {
  color: #C4504C;
}
.block-4-product_2-description-price {
  margin-bottom: 53px;
  font-family: 'Gilroy-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 109.88%;
  letter-spacing: 0.04em;
  color: #241E10;
}
.block-4-product_2-description-button_1 {
  height: 65px;
  width: 243px;
  border-radius: 90px;
  border: 0;
  background-color: #A44B4C;
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117.8%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.block-4-product_2-description-button_1:hover {
  transition: 0.5s;
  background-color: #000000;
}
.block-4-product_2-description-button_1:active {
  transition: 0.2s;
  background-color: #363636;
}
.block-4-product_2-description-button_2 {
  height: 65px;
  width: 243px;
  border-radius: 90px;
  border: 1px solid;
  border-color: #000000;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'MinionPro';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 117.8%;
  /* identical to box height, or 31px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}
.block-4-product_2-description-button_2:hover {
  transition: 0.5s;
  background-color: #E2A8A6;
  border-color: #C4504C;
}
.block-4-product_2-description-button_2:active {
  transition: 0.2s;
  background-color: #C4504C;
  border-color: #C4504C;
}
@media (max-width: 1000px) {
  .block-4-wrapper {
    background-image: url("../img/block-4/background_2.png") no-repeat;
  }
  .block-4 {
    height: 3000px;
  }
}
